ul {
  border: 1px solid black;
  padding: 0;
  background: grey;
  width: 100%;
}

li {
  display: inline-block;
}

a {
  padding: 10px;
  display: block;
}

.link {
  text-decoration: none;
  color: white;
}
